<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/calendar_site/main.css">
    <link rel="stylesheet" href="../static/calendar_site/groups.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap" rel="stylesheet">
    <script src="../static/socket.io-4.7.5/socket.io.min.js"></script>
    <title>Groups - Events calendar</title>
</head>
<body>
    <h1 id="site-title">Groups</h1>
    <div class="wrapper">
        <div class="column-half">
            <section id="joined-groups">
                <h2 class="section-title">Joined Groups</h2>
                <!-- consider moving the title to be within the "box"/section -->
                <section id="joined-groups-sub" class="subsection">
                    <div class="little-box-section joined-group">
                        <h3>Group Name</h3>
                        <p>Group member, member1, 2dfjhk dfasjkgadshjk asdfhjgasdfhjg</p>
                        <button class="small-button">View group</button>
                    </div>
                    <div class="little-box-section joined-group">
                        <h3>Group Name</h3>
                        <p>Group member, member1, 2dfjhk</p>
                        <button class="small-button">View group</button>
                    </div>
                </section>
            </section>
        </div>
        <div class="column-half">
            <section id="create-group">
                <h2 class="section-title">Want to create a group?</h2>
                <button id="create-group-button">Create a group</button>
                <div id="create-group-popup"></div>
            </section>
            
            <section id="group-invites">
                <h2 class="section-title">Group invites</h2>
                <section id="group-invites-sub" class="subsection">
                    <div class="little-box-section group-invite">
                        <h3>Group name</h3>
                        <p>Created by: username123</p>
                        <button class="small-button accept-invite">Accept</button>
                        <button class="small-button decline-invite">Decline</button>
                    </div>
                    <div class="little-box-section group-invite">
                        <h3>Group name</h3>
                        <p>Created by: username123</p>
                        <button class="small-button accept-invite">Accept</button>
                        <button class="small-button decline-invite">Decline</button>
                    </div>
                </section>
            </section>
        </div>
        <!-- <div id="background-shade" style="
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgb(100, 100, 100);
            opacity: 20%;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            "></div> -->
    </div>
    <script src="../static/calendar_site/groups.js"></script>
</body>
</html>
