<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/calendar_site/main.css">
    <link rel="stylesheet" href="../static/calendar_site/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap" rel="stylesheet">
    <title>Home - Events calendar</title>
</head>
<body>
    <div class="wrapper">
        <div id="title-side">
            <h1 id="site-title">Events.</h1>
            <h2 id="site-info">The way to organise something.</h2>
        </div>
        <div id="signup-login">
            <span><a href="{{ url_for('signup_page') }}"><button class="button">Sign up</button></a></span>
            <span><a href="{{ url_for('login_page') }}"><button class="button">Log in</button></a></span>
        </div>
    </div>
</body>
</html>
