<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/calendar_site/signup.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap" rel="stylesheet">
    <title>Sign up - Events calendar</title>
</head>
<body>
    <div class="wrapper">
        <h1 id="title">Sign up for a new account</h1>
        <form id="signup-form">
            <label for="username">Username</label>
            <input id="username" class="signup-input" name="username">
            <label for="password">Password</label>
            <input id="password" class="signup-input" name="password" type="password">
            <button type="submit" id="signup-button">Log in</button>
        </form>
    </div>
</body>
</html>
