body{
    font-family: 'Nunito', sans-serif;
}

select{
    font-family: 'Nunito', sans-serif;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    
}

.calendar{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin: 2px;
    background-color: rgb(194, 200, 202);
}

#days{
    display: flex; 
    /* ^^ maybe change this later */
}

.weekdays{
    flex: 5%;
}

.topbar{
    margin: 20px;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#month-year{
    display: flex;
    gap: 10px;
    width: 100px;
    text-align: center;
    justify-content: center;
}

.dropdown{
    display: block;
    margin-bottom: -20;
    background-color: transparent;
    border: 0;
    font-size: 1rem;
    height: 2rem;
    text-align: left;
    justify-content: baseline;
}

.change-month{
    flex: 1;
    text-align: center;
    align-items: center;
}

.current-date{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }

#dates{
    margin: 20px;
    margin-top: 5px;
    align-self: center;
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 4px;
}

.last-date-numbers{
    height: 35px;
    width: 35px;
    border-radius: 25%;
    background-color: rgb(150, 150, 150);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-numbers{
    height: 35px;
    width: 35px;
    border-radius: 25%;
    background-color: rgb(180, 180, 180);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-date-numbers{
    height: 35px;
    width: 35px;
    border-radius: 25%;
    background-color: rgb(150, 150, 150);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current-month-dates{
    color: rgb(0, 0, 0);
}

.last-month-dates{
    color:rgb(56, 56, 56);
}

.next-month-dates{
    color:rgb(56, 56, 56);
}