:root {
    --bgblue: rgb(168, 187, 202);
    --bgyellow: rgb(200, 207, 185);
    --bggrey: rgb(190, 190, 190);
    --buttonlinkblue: rgb(186, 217, 228);
    --buttongreen: rgb(172, 218, 187);
    --acceptgreen: rgb(150, 214, 187);
    --rejectred: rgb(231, 175, 175);
    --white: #ffffff;
}

* {
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

.wrapper {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
    justify-content: space-around;
}

#site-title{
    font-size: 3em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.column-half{
    min-width: 300px;
    width: 50%;
}

.section-title{
    text-align: center;
}

.subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joined-group{
    width: 80%;
    max-width: 600px;
    margin: 0 1em 1em 1em;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--bgblue);
}

.subheading {
    font-weight: 600;
}

.group-creator {
    margin-block-start: 0;
}

.group-members {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    gap: 8px;
}

.group-member {
    margin-block-start: 0;
}

.group-member:not(:last-child)::after {
    content: ",";
}


.small-button{
    transition-duration: 200ms;
    padding: 0.2rem 0.8rem;
    border: 1px solid black;
    border-radius: 1rem;
}

.small-button:hover{
    transition-duration: 200ms;
    background-color: var(--buttonlinkblue);
}

.big-button{
    width: 80%;
    max-width: 600px;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    font-size: 1rem;

    transition-duration: 200ms;
}

.big-button:hover{
    transition-duration: 200ms;
    border: 1px solid black;
    background-color: var(--buttongreen);
}

#create-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

#create-group-button{
    transition-duration: 200ms;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, rgb(186, 217, 228) 50%);
}

#create-group-button:hover{
    background-position: -100% 0;
    transition-duration: 400ms;
    background-color: var(--buttonlinkblue);
}

.create-group-form{
    display: flex;
    width: 80%;
    max-width: 600px;
    padding: 1rem;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: var(--bggrey);
}

.group-name-div{
    width: 60%;
}


.group-form-input{
    font-size: 1rem;
    width: 100%;
    height: 2.5rem;
    min-height: 1rem;
    border: 1px solid black;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    padding: 0.25rem 1rem;
}

.group-invite{
    background-color: var(--bgyellow);
}

.accept-invite:hover{
    background-color: var(--acceptgreen);
}

.decline-invite:hover{
    background-color: var(--rejectred);
}

