<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Calendar</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'calendarapp/symbols.css' %}" />
  <link rel="stylesheet" href="{% static 'calendarapp/main.css' %}">
  <link rel="stylesheet" href="{% static 'calendarapp/calendar.css' %}">
  <script src="{% static 'calendarapp/formatDate.js' %}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap" rel="stylesheet">
  <script>
    const signedIn = {{ signed_in }};
    const groupName = "{{ group_name }}";
    const groupId = "{{ group_id }}";
    const username = "{{ username }}"
  </script>
</head>

<body>
  <main class="wrapper">
    <div class="event-section grey-bg">
      <form id="event-form" class="event-form" method="post">
        {% csrf_token %}
        <h3>Create an event</h3>
        <input type="hidden" name="timezone" id="form-timezone" value="">
          <input id="event-title" class="event-title form-input" name="event-title" placeholder="Event Title" required>
          <input type="date" id="event-date" class="event-date form-input" name="event-date" required>
          <input type="time" id="event-time" class="event-time form-input" name="event-time">
          <textarea id="event-info" class="form-input event-info after-1em" 
            placeholder="Extra Information" name="event-info"></textarea>
        <button id="create-event-btn" class="button-md width-100">Create event</button>
      </form>
      <div id="event-list" class="event-list">
        {% for event in events %}
        <div class="event-entry grey-bg">
          <div class="event-entry-heading">
            <h3 class="event-entry-name">{{ event.name }}</h3>
            <p class="event-entry-date">{{ event.date }}</p>
          </div>
          <h3 class="event-entry-creator">Created by: {{ event.creator }}</h3>
          <p id="{{ event.id }}-attendees" class="event-entry-attendees">Attendees: {% for username in event.attendees %}{{username}}{% if forloop.last == 0 %}, {% endif %}{% endfor %}</p>
          <p class="event-entry-info">{{ event.info }}</p>
          <button id="going:{{ event.id }}" value="{{ event.id }}" 
          class="going-button button-md">Going!</button>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="calendar grey-1-bg">
      <div class="top-section">
        <h2 id="date-display" title="Click here to reset the date."></h2>
        <div class="topbar">
          <button id="last-month" class="material-symbols-outlined prevent-select change-month last-month">
            chevron_left
          </button>
          <select id="month-drop" class="dropdown">
            <option class="month-drop-btn">January</option>
            <option class="month-drop-btn">February</option>
            <option class="month-drop-btn">March</option>
            <option class="month-drop-btn">April</option>
            <option class="month-drop-btn">May</option>
            <option class="month-drop-btn">June</option>
            <option class="month-drop-btn">July</option>
            <option class="month-drop-btn">August</option>
            <option class="month-drop-btn">September</option>
            <option class="month-drop-btn">October</option>
            <option class="month-drop-btn">November</option>
            <option class="month-drop-btn">December</option>
          </select>
          <select id="year-drop" class="dropdown">
          </select>
          <button id="next-month" class="material-symbols-outlined prevent-select change-month next-month">
            chevron_right
          </button>
        </div>
      </div>
      <div class="bottom-calendar">
        <div class="calendar-grid">
          <div class="weekdays">Mon</div>
          <div class="weekdays">Tue</div>
          <div class="weekdays">Wed</div>
          <div class="weekdays">Thu</div>
          <div class="weekdays">Fri</div>
          <div class="weekdays">Sat</div>
          <div class="weekdays">Sun</div>
        </div>
        <div id="date-grid" class="calendar-grid" role="grid">

        </div>
      </div>
    </div>
  </main>
  {% if signed_in != 1 %}
  <div id="popup-background" class="popup-background">
    <form id="new-user-form" class="new-user-form grey-bg" method="post">
      {% csrf_token %}
      <input type="hidden" name="group-id" value="{{ group_id }}">
      <h3 class="new-user-heading">Enter your username for <em>{{ group_name }}</em></h3>
      <input name="calendarapp-username" id="username" placeholder="Username"
        class="form-input after-1em" required>
      <button class="button-md width-100">Join group</button>
    </form>
  </div>
  {% endif %}
  <script src="{% static 'calendarapp/calendar.js' %}"></script>
</body>

</html>