<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'calendarapp/symbols.css' %}" />
  <link rel="stylesheet" href="{% static 'calendarapp/main.css' %}">
  <link rel="stylesheet" href="{% static 'calendarapp/groups.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap">
  <title>Groups - Events calendar</title>
</head>

<body>
  <main class="wrapper">
    <div class="column-half">
      <div class="site-info">
        <h1 class="site-title">calendarapp</h1>
        <p>Do you need to organise an event?</p>
        <p></p>
      </div>
      <section class="create-group" id="create-group">
        <form class="create-group-form grey-bg light-shadow" id="create-group-form" method="post">
          {% csrf_token %}
          <h3 class="subheading">Want to create a group?</h3>
          <div class="group-name-div after-1em width-100">
            <input type="input" name="group-name" placeholder="Group Name" class="form-input width-100" id="group-name">
            <input type="input" name="username" placeholder="Username" class="form-input width-100" id="username">
          </div>
          <button id="create-group-button" class="button-small">Create group</button>
        </form>
      </section>
    </div>
    <div class="column-half">
      <section class="grey-bg border-r-8 overflow-x-clip light-shadow">
        <h2 class="section-title">Joined Groups</h2>
        {% for group in groups %}
        <section id="section-{{ group.id }}-{{ group.user }}" 
        class="joined-group-wrap event-entry grey-bg">
          <div class="joined-group" id="group-{{ group.id }}">
            <div class="inline-group">
              <h3 class="group-name subheading">{{ group.name }}</h3>
              <p class="group-user"> as {{ group.user }}</p>
            </div>
            <p class="group-creator">Created by {{ group.creator }}</p>
            <p class="group-member-list">
              {% for username in group.members %}
              {{username}}{% if forloop.last == 0 %}, {% endif %}
              {% endfor %}
            </p>
            <div class="inline-group opposite-sides">
              <a href="{% url 'calendarapp:calendar' group.id %}">
                <button class="button-small">View group</button>
              </a>
              <button id="leavebtn1-{{ group.id }}-{{ group.user }}" class="button-small leave-group transition-200"
                value='{
                "id":{{ group.id }},
                "user":"{{ group.user }}"
              }'>Leave group</button>
            </div>
          </div>
        </section>
        {% endfor %}
        {% if groups.0 == None %}
          <div class="event-entry grey-bg no-hover">
            <h3 class="subheading">You aren't in any groups!</h3>
            <p></p>
          </div>
        {% endif %}
      </section>
    </div>

  </main>
  <script src="{% static 'calendarapp/groups.js' %}"></script>
</body>

</html>