<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'calendarapp/bootstrap-5.3.7-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'calendarapp/symbols.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&
  icon_names=dark_mode" />
  <link rel="stylesheet" href="{% static 'calendarapp/main.css' %}">
  <link rel="stylesheet" href="{% static 'calendarapp/groups.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap">
  <title>Groups - Events calendar</title>
</head>

<body>
  <!-- <button class="material-symbols-outlined button-small dark-mode-button">dark_mode</button> -->
  <main class="wrapper">
    <div class="column-half">
      <div class="site-info after-1em">
        <h1 class="site-title">calendarapp</h1>
        <p class="after-1em">Create groups for sharing events and coordinating plans. <br> 
          Invite participants with a link, set event times, and see group activities in a shared calendar.</p>
      </div>
      <form class="create-group-form grey-bg light-shadow" id="create-group-form" method="post">
        {% csrf_token %}
        <h2 class="section-title">Want to create a group?</h3>
          <div class="group-name-div after-1em width-100">
            <input type="input" name="group-name" placeholder="Group Name" class="form-input width-100" id="group-name" maxlength="32"
              required>
            <input type="input" name="username" placeholder="Username" class="form-input width-100" id="username" maxlength="32"
              required>
          </div>
          <button id="create-group-button" class="btn btn-primary" type="submit">Create group</button>
      </form>
      <section class="create-group" id="create-group">

      </section>
    </div>
    <div class="column-half">
      <section class="joined-groups grey-bg border-r-8 overflow-x-clip light-shadow">
        <h2 class="section-title">Joined Groups</h2>
        <div class="group-list">
          {% for group in groups %}
          <section id="section-{{ group.id }}-{{ group.user }}" class="joined-group-wrap event-entry alternating-bg">
            <div class="joined-group" id="group-{{ group.id }}">
              <div class="inline-group">
                <h3 class="group-name subheading">{{ group.name }}</h3>
                <p class="group-user"> as {{ group.user }}</p>
              </div>
              <p class="group-creator">Created by {{ group.creator }}</p>
              <p class="group-member-list">
                Members:
                {% for username in group.members %}
                {{username}}{% if forloop.last == 0 %}, {% endif %}
                {% endfor %}
              </p>
              <div class="inline-group opposite-sides">
                <a href="{% url 'calendarapp:calendar' group.id %}">
                  <button class="btn btn-primary view-group-button" type="button">View group</button>
                </a>
                <button id="leavebtn1-{{ group.id }}-{{ group.user }}" class="btn btn-danger leave-group transition-200" type="button"
                  value='{
                "id":"{{ group.id }}",
                "user":"{{ group.user }}"
              }'>Leave group</button>
              </div>
            </div>
          </section>
          {% endfor %}
          <div>

            {% if groups.0 == None %}
            <div class="event-entry grey-bg">
              <h3 class="subheading">You aren't in any groups!</h3>
              <p>Create your own, or join a group via an invite link.</p>
            </div>
            {% endif %}
      </section>
    </div>

  </main>
  <script src="{% static 'calendarapp/groups.js' %}"></script>
</body>

</html>