:root {
  --bgblue-light: #dfe4e6;
  --bgblue: rgb(168, 187, 202);
  --today-date: rgb(121, 161, 119);
  --going-selected: hsl(115, 33%, 65%);
}

* {
  box-sizing: border-box;
}

input {
  border: none;
}

.prevent-select {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.back-button {
  padding: 0;
  margin: 1em;
  height: 36px;
  width: 36px;
  border-radius: 8px;
  font-size: 1em;
  min-width: 0;
  background-color: var(--button-bg);
}

.wrapper {
  margin-top: 10vh;
  justify-content: space-evenly;
  display: flex;
  gap: 2em;
  flex-wrap: wrap-reverse;
  min-width: fit-content;
}

.calendar {
  align-self: start;
  border-radius: 8px;
  height: min-content;
  box-shadow: 0px 0px 200px 0px var(--calendar-shadow);
}

.top-section {
  text-align: center;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 2em;
  background-color: var(--calendar-top-red);
}

/* to display the month/year at the top */
.topbar {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 20px;
}

#date-display {
  cursor: pointer;
}

.month-year {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 25%;
}

.dropdown {
  transition: 200ms;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  height: 44px;
  padding: 0px 5px;
}

.dropdown:hover {
  transition: 200ms;
  border: 2px solid var(--blue-highlight);
}

.dropdown:focus {
  border: 2px solid var(--blue-highlight);
}

.change-month {
  font-size: 28px;
  height: 32px;
  width: 32px;
  padding: 0;
  border-radius: 50%;
  transition: 200ms;
  text-align: center;
  background-color: var(--button-bg);
}

.change-month:hover {
  transition: 200ms;
  background-color: var(--blue-highlight);
}

.bottom-calendar {
  display: grid;
  text-align: center;
  padding: 1em 1.5em 1.5em 1.5em;
}

.calendar-grid {
  display: inline-grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px 16px;
}

#date-grid {
  margin-top: 8px;
  grid-template-rows: repeat(6, 1fr);
}

.date-numbers {
  position: relative;
  border: none;
  width: min(44px, 10vw);
  height: min(44px, 10vw);
  min-width: 36px;
  min-height: 36px;
  border-radius: 8px;
  justify-self: center;
  transition-duration: 200ms;
  background-color: var(--button-grey);
  color: var(--text-grey);
  font-size: 18px;
}

/* hsl(227.65deg 8.48% 28.7%) bg for dark mode */

.date-numbers:hover {
  transition-duration: 200ms;
  background-color: var(--blue-highlight);
  color: white;
}

.current-month-numbers {
  background-color: var(--button-bg-light);
}

/* to highlight the date in the calendar */
.today {
  transition-duration: 200ms;
  background-color: var(--today-date);
  color: rgb(255, 255, 255);
}

.today:hover {
  transition-duration: 200ms;
  background-color: var(--acceptgreen);
}

.selected {
  background-color: rgb(137, 166, 190);
  color: rgb(255, 255, 255);
}

.event-section {
  border-radius: 8px;
  width: max(396px, 111vw);
  max-width: 450px;
}

.event-form {
  padding: 2em;
  display: grid;
  gap: 1em;
}

.event-form-title {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.event-info {
  margin-top: 0.5em;
  height: 6em;
  resize: vertical;
}

.create-event-btn {
  border: 0px solid transparent;
  border-radius: 4px;
  height: 2rem;
  width: 100%;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(137, 166, 190);
}

.create-event-btn:hover {
  transition-duration: 300ms;
  background-color: rgb(128, 176, 190);
}


.event-entry-heading {
  display: grid;
  width: 100%;
  height: min-content;
  grid-template-columns: 1fr max-content;
  gap: 1em;
  margin-bottom: 1em;
  align-items: baseline;
}

.event-entry-heading>* {
  margin-top: 0;
  margin-bottom: 0;
}

.event-entry-name {
  word-break: break-all;
}

.event-entry-date {
  min-width: 160px;
  justify-self: right;
  text-align: right;
}

.event-entry-creator {
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1em;
}

.event-options-div {
  display: grid;
  grid-template-columns: delete-start 1fr delete-end going-start 1fr going-end;
  width: 100%;
}

.delete-button:hover {
  background-color: var(--solidred)
}

.going-button {
  justify-self: end;
  grid-column: going-start;
}

.going-selected,
.going-selected:hover {
  background-color: var(--going-selected);
}

.new-user-form {
  position: absolute;
  display: flex;
  flex-direction: column;

  top: 30dvh;
  /* align-self: center; */

  padding: 2em;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 0px 200px 1px var(--button-grey);
}

.new-user-heading {
  font-weight: 400;
  margin-bottom: 1.5em;
}

.popup-background {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  overflow: hidden;
  background-color: rgb(0 0 0 / 35%);
}