html {
    scrollbar-gutter: stable;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.wrapper {
    padding-top: 15vh;
    min-height: 100vh;
    min-width: fit-content;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 50%));
    width: 100vw;
}

.site-info {
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: min(80%, 600px);

}

.site-title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 2rem;
}

.column-half {
    min-width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.section-title {
    text-align: center;
    align-self: center;
    font-size: 2em;
    padding-top: 1.5em;
    padding-bottom: 1em;
    margin-bottom: 0;
}

.subheading {
    font-weight: 600;
    margin-bottom: 1em;
}

.joined-groups {
    min-width: 300px;
    width: 80%;
    max-width: min(80%, 600px);
}

.joined-group {
    box-sizing: border-box;
    grid-column-start: groups-start;
    width: 100%;
    padding: 1.5em;
    z-index: 1;
}

.joined-group-wrap {
    min-width: 300px;
    /* display: grid;
    grid-template-columns: [groups-start] 1fr [groups-end] min-content [popup-end]; */
    justify-items: center;
    padding: 0;
    margin-top: 0;
}

.inline-group {
    display: inline-flex;
    align-items: baseline;
    column-gap: 0.5em;
    flex-wrap: wrap;
}

.inline-group>* {
    margin-block-start: 0;
}

.opposite-sides {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
}

.group-creator {
    margin-block-start: 0;
}

.group-user {
    font-size: 14px;
}

.group-member-list {
    text-align: start;
    line-height: 1.25em;
    max-height: 1.25em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-block-start: 0;
}

.view-group-button:hover {
    background-color: var(--button-cyan);
}

.leave-group {
    transition-duration: 0s;
}

.leave-group:hover {
    transition-duration: 200ms;
    background-color: var(--reject-red);
}

.leave-group-confirm:hover {
    transition-duration: 200ms;
    background-color: var(--solidred);
}

.leave-group-popup {
    grid-column-start: groups-end;
    align-self: end;
    background-color: var(--reject-red);
    padding: 1.5em;
    border-radius: 4px;
    height: min-content;
    width: max-content;
    z-index: 1;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
}

.gap-4 {
    gap: 4px;
}

.leave-group-cancel {
    width: 33px;
    height: 33px;
    font-size: 13px;
    border-radius: 50%;
    background-color: var(--grey-850);
    border: 1px solid transparent;
    padding: 0;
    align-self: baseline;

    &:hover {
        transition-duration: 200ms;
        background-color: var(--cancel);
    }
}

.big-button {
    width: 80%;
    max-width: 600px;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    border: 1px solid black;
    font-size: 1rem;
    transition-duration: 200ms;
}

.big-button:hover {
    transition-duration: 200ms;
    border: 1px solid black;
    background-color: var(--buttongreen);
}

.create-group {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    padding: 0 2em;
}

#create-group-button {
    background-color: var(--grey-750);
    width: 100%;
    align-self: center;
    transition-duration: 200ms;
    background-size: 200% 100%;
    background-image: linear-gradient(to right, transparent 50%, var(--button-cyan) 50%);
}

#create-group-button:hover {
    background-position: -100% 0;
    transition-duration: 400ms;
    background-color: var(--button-cyan);
}

.create-group-form {
    transition-duration: 200ms;
    display: flex;
    min-width: 300px;
    width: 80%;
    max-width: min(80%, 600px);
    padding: 0 2.5em 3em 2.5em;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}

.group-name-div {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    justify-content: center;
}

.group-name {
    word-wrap: break-word;
    word-break: break-word;
}

