:root {
    --site-bg: hsl(59deg 100% 98.61%);
    --bg-grey: hsl(218, 27%, 92%);
    --bg-grey-alt: hsl(218deg 25.55% 88.25%);
    --calendar-bg-grey: hsl(218 4.95% 81.9%);
    --grey-600: hsl(0, 0%, 62%);
    --grey-750: hsl(0, 0%, 75%);
    --grey-850: hsl(0, 0%, 85%);
    --text-grey: hsl(0, 0%, 22%);
    --text-main: black;
    --text-placeholder: hsl(0, 0%, 48%);
    --form-input-bg: hsl(0, 0%, 100%);
    --shadow: hsl(0, 0%, 79%);
    --blue-highlight: hsl(206, 24%, 73%);
    --buttonlinkblue: hsl(196, 44%, 81%);
    --button-cyan: hsl(197, 47%, 63%);
    --new-green: hsl(95, 36%, 72%);
    --buttongreen: hsl(140, 38%, 76%);
    --acceptgreen: hsl(142, 33%, 66%);
    --cancel: hsl(4, 42%, 87%);
    --reject-red: hsl(0 61.22% 69.78%);
    --solidred: hsl(0, 71%, 54%);

    /* @media (prefers-color-scheme: dark) {
        --site-bg: hsl(223, 25%, 10%);
        --bg-grey: hsl(218deg 16.58% 16.98%);
        --bg-grey-alt: hsl(218deg 15.15% 23.69%);
        --calendar-bg-grey: hsl(218 10.09% 34.38%);
        --text-main: white;
        --text-placeholder: hsl(0, 0%, 82%);
        --text-grey: hsl(0, 0%, 80%);
        --grey-850: hsl(214, 6%, 53%);
        --shadow: hsl(240, 1%, 19%);
        --form-input-bg: hsl(214.62deg 18.44% 24.29%);
        --grey-750: hsl(227.65, 8.48%, 28.7%);
        --calendar-top-red: hsl(249, 22%, 31%);
        --calendar-shadow: hsla(276, 48%, 17%, 0.7);
        --reject-red: hsl(0, 47%, 38%);
    } */
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-block-end: 0;
    margin-inline-end: 0;
}

h3 {
    font-weight: 500;
    font-size: 1.5em;
}

body {
    background-color: var(--site-bg);
}

* {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    box-sizing: border-box;
    color: var(--text-main);
}

.button-small {
    min-width: max-content;
    transition-duration: 200ms;
    padding: 0.5rem 1rem;
    font-size: 13px;
    border: 0;
    border-radius: 4px;
    color: var(--text-main);
    background-color: var(--grey-750);
}

.button-small:hover {
    transition-duration: 200ms;
    background-color: var(--buttonlinkblue);
}

.dark-mode-button {
    min-width: 0;
    height: 36px;
    width: 36px;
    text-align: center;
}

.dark-mode-button:hover {
    transition-duration: 200ms;
    font-variation-settings: "FILL" 1;
}

.button-md {
    min-width: min-content;
    width: 120px;
    transition-duration: 200ms;
    font-size: 1em;
    font-weight: 500;
    line-height: 12px;
    padding: 1em 2em;
    border: 0px solid transparent;
    border-radius: 4px;
    text-align: center;
    color: var(--text-main);
    background-color: var(--grey-850);
}

.button-md:hover {
    transition-duration: 200ms;
    background-color: var(--new-green);
}

.display-none {
    display: none;
}

.form-input {
    font-size: 1rem;
    padding: 0.5em;
    height: 3em;
    color: var(--text-main);
    background-color: var(--form-input-bg);
    line-height: 1.5em;
    min-height: 1rem;
    border: 2px solid transparent;
    border-radius: 4px;

    &::placeholder {
        color: var(--text-placeholder);
    }

    &:hover,
    &:focus {
        outline: 0;
        transition: 200ms;
        border-color: var(--blue-highlight);
    }
}

.width-100 {
    width: 100%;
}

.after-1em {
    margin-bottom: 1em;
}

.after-2em {
    margin-bottom: 2em;
}

.grey-bg {
    background-color: var(--bg-grey);
}

.grey-1-bg {
    background-color: var(--calendar-bg-grey);
}

.white-bg {
    background-color: white;
}

.light-shadow {
    transition-duration: 300ms;
    margin: 20px;
    box-shadow: 0px 0px 20px 0px var(--shadow);
}

.light-shadow:hover {
    transition-duration: 300ms;
    box-shadow: 0px 0px 40px 0px var(--shadow);
}

@media (prefers-reduced-motion) {
    .light-shadow:hover {
        /* This is the same rule as in light-shadow (not hover) */
        box-shadow: 0px 0px 20px 0px var(--shadow);
    }
}

.transition-200 {
    transition-duration: 200ms;
}

.border-r-8 {
    border-radius: 8px;
}

.border-r-4 {
    border-radius: 4px;
}

.event-list {
    max-height: 60vh;
    overflow-y: auto;
}

.alternating-bg:nth-child(even) {
    background-color: var(--bg-grey);
}

.alternating-bg:nth-child(odd) {
    background-color: var(--bg-grey-alt);
}

.event-entry:hover {
    transition-duration: 200ms;
    background-color: var(--calendar-bg-grey);
  }

.event-entry {
    transition-duration: 200ms;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

.event-entry:last-of-type {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.event-entry>* {
    margin-block-start: 0;
}

.overflow-x-clip {
    overflow-x: clip;
}

.no-hover:hover {
    background-color: revert;
}