* {
    box-sizing: border-box;
} 

body{
    font-family: 'Nunito', sans-serif;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    align-items: normal;
    justify-content: space-around;
}

#site-title{
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#title-side{
    display: flex;
    flex-direction: column;
}

#site-info{
    margin: 20px;
    justify-content: center;
    align-items: center;
}

#signup-login{
    height: auto;
    width: 45vw;
    min-width: min-content;
    display: flex;
    flex-direction: column;
    float: right; 
    justify-content: right;
    padding: 20px;
    gap: 20px;
}

.button{
    background-color: rgb(206, 206, 206);
    float: right;
    width: 300px;
}
