body{
    font-family: 'Nunito', sans-serif;
}

select{
    font-family: 'Nunito', sans-serif;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

.wrapper{
    margin: 2rem;
    min-width: 750px;
}

.calendar{
    align-self: center;
    max-width: 50%;
    margin: auto;
    margin-top: 20px;
    background-color: rgb(194, 200, 202);
}

    #days{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(7, 1fr);
        /* ^^ maybe change this later */
    }

    .top-section{
        margin: 20px;
        margin-bottom: 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    #month-year{
        display: flex;
        width: 100px;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 25%;
    }

    .dropdown{
        display: block;
        background-color: transparent;
        border: 0;
        font-size: 1rem;
        height: 2rem;
        text-align: left;
        justify-content: baseline;
    }

    .change-month{
        flex: 1;
        text-align: center;
        align-items: center;
        margin-left: 20px;
        margin-right: 20px;
    }

    /* to highlight the date in the calendar */
    #today{
        background-color: rgb(137, 166, 190);
        color: rgb(255, 255, 255);
    }

    #selected{
        background-color: rgb(190, 137, 137);
        color: rgb(255, 255, 255);
    }

    /* to display the month/year at the top */
    .topbar{
        display: flex;
        align-items: center;
        text-align: center;
        gap: 20px;
    }


    #bottom-calendar {
        display: grid;
        text-align: center;
    }

    #dates{
        margin: 20px;
        margin-top: 5px;
        display: inline-grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 7px;
    }

    /* make sure dates and weekday-header are the same :-)*/
    #weekday-header {
        margin-left: 20px;
        margin-right: 20px;
        display: inline-grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 7px;
    }

    .weekdays {
        padding-left: 3px;
    }

    #dates button{
        position: relative;
        border: none;
        width: 80%;
        height: 0;
        border-radius: 8px;
        justify-self: center;
        align-items: center;
        padding-top: 20%; /*these two control the height alignment of the text*/
        padding-bottom: 60%;
    }

    .last-date-numbers{
        background-color: rgb(150, 150, 150);
        color:rgb(56, 56, 56);
        font-size: 1rem;
    }

    .date-numbers{
        background-color: rgb(180, 180, 180);
        color: rgb(0, 0, 0);
        font-size: 1rem;
    }

    .next-date-numbers{
        background-color: rgb(150, 150, 150);
        color:rgb(56, 56, 56);
        font-size: 1rem;
    }

    .current-month-dates{
        color: rgb(0, 0, 0);
    }

    .last-month-dates{
        color:rgb(56, 56, 56);
    }

    .next-month-dates{
        color:rgb(56, 56, 56);
    }

#event-list{
    display: flex;
    margin: 20px;
    background-color: rgb(194, 200, 202);
    justify-content: center;
}
